.bizcard {
	background-color: #FFF8DC;
	text-align: center;
	padding: 30px;
	width: 700px;
	height: 150px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.bizcard .content {
	-webkit-box-flex: 4;     /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 4;        /* OLD - Firefox 19- */
	-webkit-flex: 4;         /* For old syntax, otherwise collapses. */
	-ms-flex: 4;             /* IE 10 */
	flex: 4;                 /* NEW, Spec - Opera 12.1, Firefox 20+ */
	text-align: left;
	margin: auto 0;
}
.bizcard .links {
	-webkit-box-flex: 1;     /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;        /* OLD - Firefox 19- */
	-webkit-flex: 1;         /* For old syntax, otherwise collapses. */
	-ms-flex: 1;             /* IE 10 */
	flex: 1;                 /* NEW, Spec - Opera 12.1, Firefox 20+ */
	text-align: left;
	margin: auto 0;
}
.bizcard .links a:focus,
.bizcard .links a:hover{
	color: #D44942;
	background-color: #FFF8DC;
	text-decoration: none;
}
.bizcard .links ul > li{
	list-style-type: none;
}
.bizcard .name {
	color: black;
}