.bizcard {
	background-color: #FFF8DC;
	text-align: center;
	padding: 30px;
	width: 800px;
	height: 150px;
	display: flex;
}
.bizcard .content {
	flex: 5;
	text-align: left;
	margin: auto 0;
}
.bizcard .links {
	flex: 1;
	text-align: left;
	margin: auto 0;
}
.bizcard .links a:focus,
.bizcard .links a:hover{
	color: #D44942;
	background-color: #FFF8DC;
	text-decoration: none;
}
.bizcard .links ul > li{
	list-style-type: none;
}
.bizcard .name {
	color: black;
}