.pageCenter {
	height: 100%;
	    padding: 0;
	    margin: 0;
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    align-items: center;
      -webkit-align-items: center;
	    justify-content: center;
      -webkit-justify-content: center;
}
.main {
	font-size: 1.1em;
	font-family: 'Alegreya Sans SC', sans-serif;
	/* font-family: 'Tenali Ramakrishna', sans-serif;*/
	color: gray;
}
body {
  margin: 0;
  background: #000; 
  background: #000; 
}
video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
  -webkit-transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
a {
  display: inline-block;
  color: gray;
  text-decoration: none;
  padding: .5rem;
  transition: .6s background; 
  -webkit-transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}

